    html
    {
        color:#000;
        background:#FFF;
    }

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,
    fieldset, legend, input, textarea, p, blockquote, th, td
    {
        margin:0;
        padding:0;
    }

    li
    {
        list-style:none;
    }

    a{ text-decoration:none;outline:none;}
    a:hover{ cursor:pointer;}
    th, td{vertical-align:center;}
    @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{
        display:none !important;
    }
    ng\:form{
        display:block;
    }
    .ng-animate-start{
        clip:rect(0,auto,auto,0);-ms-zoom:1.0001;
    }
    .ng-animate-active{
        clip:rect(-1px,auto,auto,0);-ms-zoom:1;
    }

    @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){
        display: none !important;
    }